In [106]:
v=input("enter the value : ")
t=input("enter the amount : ")
v+ t

enter the value : vishal\
enter the amount : thorat

'vishal\\thorat'

In [81]:
v=9
for i in range(0,v):
    for j in range(i+1):
        print(" ",end="")
    for j in range (v-i):
        print(" +",end="")
    print()

  + + + + + + + + +
   + + + + + + + +
    + + + + + + +
     + + + + + +
      + + + + +
       + + + +
        + + +
         + +
          +

In [25]:
n=9
i=0

while i < n:
    print(" "*(n-i) + "+ "*(i+1))
    i+=1

         +
        + +
       + + +
      + + + +
     + + + + +
    + + + + + +
   + + + + + + +
  + + + + + + + +
 + + + + + + + + +

1.Write a program to demonstrate different number data types in Python.

In [27]:
a="vishal"
b=71
c=12.97
d=True

print("a is type of ",type(a))
print("b is type of ",type(b))
print("c is type of ",type(c))
print("d is type of ",type(d))

a is type of  <class 'str'>
b is type of  <class 'int'>
c is type of  <class 'float'>
d is type of  <class 'bool'>

2. Write a program to perform different Arithmetic Operations on numbers in Python.

In [32]:
a=int(input("enter a value : "))
b=int(input("enter a value : "))

print("addition", a+b)
print("substraction", a-b)
print("multiplication", a*b)
print("division", a/b)
print("remainder",a%b)
print("exponent", a**b)
print("flot divison", a//b)

enter a value : 3
enter a value : 2
addition 5
substraction 1
multiplication 6
division 1.5
remainder 1
exponent 9
flot divison 1

3. Write a program to create, concatenate and print a string and accessing sub-string from a given string.

In [34]:
v1 = input("first string is: ")
v2 = input("secound string is: ")

print("concatination of string-->", v1+v2)
print("substring of the given string-->",v1[1:5])

first string is: vishal
secound string is: thorat
concatination of string--> vishal thorat
substring of the given string--> isha

4. Write a python script to print the current date in the following format “Sun May 29 02:26:23 IST 2017”

In [37]:
import time
ltime=time.localtime()
print(time.strftime("%a %b %d %H %M %S %Z %Y",ltime))


# %a = abbrivated weekday name 
# %b = abbrivated month name 
# %d = day of the month
# %H = Hour (24 hour clock)
# %M = minute
# S = sec
# %Z = Time zwone name 
# %Y = Year

Tue Aug 02 15 56 57 India Standard Time 2022

5. Write a program to create, append, and remove lists in python.

In [44]:
vish=[1,2,3,"vishal"]

#append
vish.append("thorat")
print(vish)

#extend operation take only one argument
vish.extend([4,5,6])
print(vish)


#deleting 3rd string 
my_list= ['v','i','s','h','a','l']
del my_list[2]
print(my_list)

[1, 2, 3, 'vishal', 'thorat']
[1, 2, 3, 'vishal', 'thorat', 4, 5, 6]
['v', 'i', 'h', 'a', 'l']

6. Write a program to demonstrate working with tuples in python.

In [47]:
#diff type of touple

#mixed data type touple
my_tuple = (1,2,3.4,"vishal",["thorat",5])
print (my_tuple)

#Touple unpacking 
tuple1=(1,2,3,"vishal")
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

(1, 2, 3.4, 'vishal', ['thorat', 5])
1
2
3
vishal

7. Write a program to demonstrate working with dictionaries in python

In [67]:
#dict with mixed keys
dict1={1:"vishal",2:"thorat",3:1234,"vishal":True}
print(dict1)

dict2=dict([(1,"vishal"),(2,"thorat")])
print(dict2)

dict3={"name":"vishal","surename":"thorat","age":23}

print(dict3["name"])

print(dict3.get("surename"))

{1: 'vishal', 2: 'thorat', 3: 1234, 'vishal': True}
{1: 'vishal', 2: 'thorat'}
vishal
thorat

8. Write a python program to find largest of three numbers.

In [69]:
num1=10
num2=15
num3=12

if num1 >= num2 and num1 >= num3:
    largest = num1
    
elif num2 >= num1 and num2 >= num3:
    largest = num2
    
else:
    largest = num3
    
print("The largest number is: ",largest)

The largest number is:  15

9. Write a Python program to convert temperatures to and from Celsius, Fahrenheit. [ Formula: c = (f-32)(5/9)]

In [77]:
temp = float(input("enter temp : "))
unit = input("enter unit('c' is for celcius and 'f' is for fahreheit) : ")

if unit == 'C' or unit == 'c':
    newTemp = 9/5*temp+32
    print("temp in fahreheit is :", newTemp)

elif unit == 'F' or unit == 'f':
    newTemp = 5/9*temp-32
    print("temp in celcious is : ",newTemp)

else:
    print("unkown unit",unit)

enter temp : 38
enter unit('c' is for celcius and 'f' is for fahreheit) : C
temp in fahreheit is : 100.4

10. Write a Python program to construct the following pattern, using a nested for loop

In [96]:
n = 5
for i in range(0,n):
    for j in range(i+1):
        print("*",end="")
    print()
    
for i in range(1,n):
    for j in range(n-i):
        print("*",end="")
    print()

*
**
***
****
*****
****
***
**
*

11. Write a Python script that prints prime numbers less than 20.

In [101]:
lower = int(input("enter the lower number"))
upper = int(input("enter the upper number"))

for num in range(lower,upper+1):
    if num > 1:
        for i in range(2,num):
            if(num%i)==0:
                break
                
        else:
            print(num)

enter the lower number0
enter the upper number10
2
3
5
7

12. Write a python program to find factorial of a number using Recursion.

In [121]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)

num=int(input("enter the number: "))

if num < 0:
    print("sorry, factorial does not exiest for negative number")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    print("the factorial of: ",num ," is ",recur_factorial(num))

enter the number: 7
the factorial of:  7  is  5040

13. Write a program that accepts the lengths of three sides of a triangle as inputs. The program output should indicate whether or not the triangle is a right triangle (Recall from the Pythagorean Theorem that in a right triangle, the square of one side equals the sum of the squares of the other two sides).

In [126]:
base = float(input("enter lenght of base: "))
perp = float(input("enter lenght of perpendicular: "))
hypo = float(input("enter lenght of hypotheus: "))

if hypo**2 == ((base**2)+(perp**2)):
    print("It's a right angle traingle")

else:
    print("It's not a right angle traingle")

enter lenght of base: 3
enter lenght of perpendicular: 4
enter lenght of hypotheus: 5
It's a right angle traingle