In [1]:
def is_prime(num):
    
    for n in range(2,num):
        if num % n ==0:
            print('not prime')
            break
        
    else:
        print('prime')

In [8]:
is_prime(101)

prime

In [19]:
import math

def is_prime1(num):
    
    if num % 2 == 0 and num > 2:
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i ==0:
            return False
    
    return True

In [20]:
is_prime1(4)

False

In [22]:
for i in "vish":
    print (i)

v
i
s
h

In [24]:
d= iter("vishal")

In [27]:
next(d)

's'

In [29]:
#Generate function for the cube of the number
def gencubes(n):
    for num in range(n):
        yield num ** 3

In [42]:
a = iter(gencubes(7))

In [44]:
next(a)

1

In [45]:
for i in gencubes(6):
    print(i)

0
1
8
27
64
125

In [71]:
#Generate function for the cube of the number
def gensquares(n):
    for num in range(n):
        yield num ** 2

In [158]:
b = iter(gensquares(7))

In [73]:
for i in gensquares(7):
    print(i)

0
1
4
9
16
25
36

In [74]:
#generate a fibonacci sequence 

def genfibon(n):
    a=1
    b=1
    for i in range(n):
        yield a 
        a,b = b, a+b

In [81]:
for i in genfibon(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [97]:
def fibon(n):
    a=1
    b=1
    output=[]
    
    for i in range(n):
        output.append(a)
        a,b=b,a+b
    
    print(output)

In [98]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [102]:
def fahrenheit(T):
    return(float(9)/5*T +32)
def celsius(T):
    return(float(5)/9)*(T-32)

temp = [0,22.5, 40,100]

In [104]:
a=[]
for i in temp:
    a.append(fahrenheit(i))

In [105]:
a

[32.0, 72.5, 104.0, 212.0]

In [116]:
F_temps = list(map(fahrenheit, temp))

F_temps

[32.0, 72.5, 104.0, 212.0]

In [159]:
tuple(map(celsius,F_temps))

(0.0, 22.5, 40.0, 100.0)

In [118]:
l = ['vishal', 'thorat']
k=[]
for i in l:
    k.append(i.upper())

In [119]:
k

['VISHAL', 'THORAT']

In [120]:
def convert(n):
    return n.upper()

In [122]:
tuple(map(convert,k))

('VISHAL', 'THORAT')

In [124]:
#lambda
list(map(lambda x:x.upper(),l))

['VISHAL', 'THORAT']

In [126]:
a=[2,3,4,5,6]
b=[7,8,8,6,2]

tuple(map(lambda x,y:x+y,a,b))

(9, 11, 12, 11, 8)

In [131]:
from functools import reduce
lst=[34,45,67,69,89,98]
reduce(lambda x,y:x+y,lst)

402

In [144]:
from IPython.display import Image
Image

IPython.core.display.Image

In [139]:
lst=[23,45,67,62,34,45,87]
max_find = lambda a,b: a if (a>b) else b

In [140]:
reduce(max_find,lst)

87

In [151]:
def even_check(num):
    if num%2 == 0:
        return True

In [152]:
lst = range(20)

list(filter(even_check,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [155]:
def odd_check(num):
    if num%2 ==1:
        return True

In [157]:
v = range(20)

tuple(filter(odd_check,v))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)