In [1]:
print("this is my first python program")

this is my first python program

In [2]:
#my name is vish
"""Tripple cote is used for multiple line of comment
jhdkj
sjkzhj
ksjcbck
'bdjshx
bhdf
bcjsz
sdgahdc
bids
viudl
'"""

"Tripple cote is used for multiple line of comment\njhdkj\nsjkzhj\nksjcbck\n'bdjshx\nbhdf\nbcjsz\nsdgahdc\nbids\nviudl\n'"

In [1]:
"""vishal thorat
raj thorat
aditya thorat
aryan thorat
vaibhavi thorat"""

'vishal thorat\nraj thorat\naditya thorat\naryan thorat\nvaibhavi thorat'

In [4]:
a,b,s=55,"vishal",'shubh'

In [5]:
a

55

In [6]:
s

'shubh'

In [7]:
b

'vishal'

In [8]:
type(s)

str

In [9]:
print(a,b,s,"Vishal",99)

55 vishal shubh Vishal 99

In [10]:
# variable is nothing but store same data

In [11]:
name = "vish"
userid ="IN001"
password = "vidhdljdl"
mail = "vishalt1379@gmail.com"

In [1]:
a= 1.4736487683

In [2]:
type(a)

float

In [3]:
b = True
c = False

In [4]:
type(b)

bool

In [5]:
type(c)

bool

In [17]:
print (True + True + True + False + True)

4

In [18]:
False + True + True

2

In [19]:
True * True + False + True

2

In [20]:
True and False

False

In [5]:
True+True

2

In [21]:
True or False

True

In [6]:

True*False*True+True+True

2

In [23]:
#True=1 & False=0
#Boolen Variable

In [7]:
n = 45 + 9j

In [8]:
type(n)

complex

In [9]:
n.real

45.0

In [10]:
n.imag

9.0

In [11]:
"1" + "vish"

'1vish'

In [12]:
v= 787+65j

In [13]:
v.imag

65.0

In [14]:
#Consatination operation

In [15]:
1+1.0

2.0

In [16]:
type(2.0)

float

In [18]:
a = input("visha: ")

visha: thorat

In [21]:
a

'thorat'

In [22]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int (input("this is my var "))

this is my var a 78
this is my var b 56
this is my var 23

In [27]:
o = a+ b/ c +a

In [34]:
o

158.43478260869566

In [35]:
o1= o + 7+9j -b

In [36]:
o1

(109.43478260869566+9j)

In [41]:
v=int(input("this is the no: "))
w=int(input("this is the no: "))
x=int(input("this is the no: "))

this is the no: 99
this is the no: 98
this is the no: 97

In [42]:
o=v+w+x
o

294

In [43]:
o1=938984
o2=o+o1
o2

939278

In [37]:
str(o1)+"vishal"

'(109.43478260869566+9j)vishal'

In [40]:
v= float(input("this is my var v "))

this is my var v 77

In [41]:
v

77.0

In [49]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int (input("this is my var "))
o = a+ b/ c
o1= o + 7+9j
str(o1)+"vishal"

this is my var a 77
this is my var b 75
this is my var 57

'(85.3157894736842+9j)vishal'

In [50]:
a = int(input("input a number lesser than 32 --"))

input a number lesser than 32 --67

In [52]:
a = int(input("input a number"))
if a < 34:
    print("data is lesser than 34 and im fine with it")
elif a <100:
    print("data is lesser than 100")
else:
    print("user input is not lesser then 34 ")

input a number899898
user input is not lesser then 34

In [1]:
laptop_price = int(input("Price of laptop: "))

if 25000 < laptop_price <= 40000:
    print("i3 Configuration of laptop")
    
    if 40000 >= laptop_price > 37000:
        print("8Gb RAM, 556 SSD, 1TB HD")
        
    elif 37000 >= laptop_price > 32000:
        print("4Gb RAM, 256 SSD, 1TB HD")
        
    elif 32000 >= laptop_price >25000:
        print("8Gb RAM, 1TB HD")
        
elif 60000 >= laptop_price > 40000:
     print("i5 Configuration of laptop")
        
elif laptop_price<25000:
    print("Go for mobile")
        
else:
    print("Go for Apple Laptops")

Price of laptop: 54651
i5 Configuration of laptop

In [21]:
v=int(input("Enter the value : "))

if v<100:
    print("value is under 100")
    
    if v<20:
        print("value is under 20")
        
    elif v<40:
        print("value is grater than 20 but less than 40")
    
    elif v<=70:
        print("value is grater than 40 but less than 70")
    
    elif v<=100:
        print("value is grater than 70 but less than or equal to 100")

elif v<=200:
    print("value is grater than 100 but less than or equal to 200")
    
elif v<=300:
    print("value is grater than 200 but less than or equal to 300")
    
else:
    print("value is greater than 300")

Enter the value : 400
value is greater than 300

In [19]:
Rs=int(input("enter the money you spent for the room Rs : "))

if Rs>30:
    print("Money allow to add in common bazaar list")
    
    if Rs < 100 > 30:
        print("Money spent for Tarkari ")
        
    elif Rs < 200 > 100:
        print("Money spent for Sunday special Lunch")
        
    elif Rs < 500 > 200:
        print("Money spent for material of kitchen")
        
    elif Rs <1000>500:
        print ("money spent for Light & wifi bill")
        
    elif Rs>1000:
        print("money spent for room rent")
        
else:
    print("Money cannot add in common bazaar list")

enter the money you spent for the room Rs : 400
Money allow to add in common bazaar list
Money spent for material of kitchen

In [65]:
salary =int(input("enter your salary "))
if salary > 1000:
    print("your salry is good ")
    if salary > 5000:
        print("i will go with nano ")
        if True:
            print("false code ")
    elif salary >10000:
        print("i will go with maruti ")
    elif salary > 50000:
        print("i will go with toyota ")
    else:
        print("i will rent a car ")
elif salary > 500:
    print (" i will buy a bike ")
elif salary > 100:
    print ("i will not buy anything ")
else:
    print("i will go for saving ")

enter your salary 500
i will not buy anything

In [64]:
salary > 5000

False

In [56]:
a = 10
b =20
if a==10 and b>20:
    print("this is valid condition")
elif a==10 and b<=20:
    print("this statement is valid in elif")
else:
    print("condition is not valid")

this statement is valid in elif

In [68]:
speed=int(input("Driving speed of the customer: "))

if 70 >speed>=50:
    print("Normal people driving speed ")
    
elif 110 >speed>=70:
    print ("Semi-professional Rider driving speed ")
    
elif 150>speed>=110:
    print("professional Rider Driving speed ")
    
elif speed>=150:
    print("Highly trained professional Rider Driving speed ")
    
else:
    print("Driver is beggainer")

Driving speed of the customer: 150
Highly trained professional Rider Driving speed

In [73]:
a = 10
b =20
if a==11 or b>20:
    print("this is valid condition")
elif a==10 and b<=20:
    print("this statement is valid in elif")
else:
    print("condition is not valid")

this statement is valid in elif

In [75]:
x = input("my first name is ")
y = input("my last name is ")
if x=="vishal" and y=="thorat":
    print ("correct name")
elif x=="Vishal" and y=="Thorat":
    print("correct, but fist letter is in Uppercase")
else:
    print("wrong conditions")

my first name is vishal
my last name is thorat
correct name

In [25]:
initial_speed = 0
final_speed=100
#count = 1
while initial_speed < final_speed:
    print("My speed is",initial_speed,)
    initial_speed = initial_speed +1
    if initial_speed ==10:
        break

My speed is 0
My speed is 1
My speed is 2
My speed is 3
My speed is 4
My speed is 5
My speed is 6
My speed is 7
My speed is 8
My speed is 9

In [60]:
Rakesh = 1
Dharma = 100

while Rakesh < Dharma:
    print("No. of Rakesh is: ",Rakesh)
    
    Rakesh = Rakesh+1
    if Rakesh == 12:
        print("Rakesh is 12 now")
        break

No. of Rakesh is:  1
No. of Rakesh is:  2
No. of Rakesh is:  3
No. of Rakesh is:  4
No. of Rakesh is:  5
No. of Rakesh is:  6
No. of Rakesh is:  7
No. of Rakesh is:  8
No. of Rakesh is:  9
No. of Rakesh is:  10
No. of Rakesh is:  11
Rakesh is 12 now

In [7]:
#Give odd Roll No.

start_count = 1
final_count =20

while start_count <= final_count:
    print("Roll No: ",start_count)
    
    start_count = start_count + 2
    if start_count > final_count:
        break

Roll No:  1
Roll No:  3
Roll No:  5
Roll No:  7
Roll No:  9
Roll No:  11
Roll No:  13
Roll No:  15
Roll No:  17
Roll No:  19

In [56]:
v=0
d=10
count=1
while v<d:
    print(v," is done")
    v=v+count

0  is done
1  is done
2  is done
3  is done
4  is done
5  is done
6  is done
7  is done
8  is done
9  is done

In [39]:
vishal=0
shubhangi=10
while vishal < shubhangi:
    print (vishal,end=" ")
    vishal=vishal+1

0 1 2 3 4 5 6 7 8 9

In [9]:
i =1 
j =5
while i < j:
    print (i)
    i = i+1

1
2
3
4

In [25]:
#While loop
notes = 5
i = 1
while i < notes:
    print (i)
    i+=1
else:
    print("no 10 rs notes are available")

1
2
3
4
no 10 rs notes are available

In [58]:
vishal=15
shubhangi=20

while vishal<shubhangi:
    print(vishal)
    vishal=vishal+1
    
else:
    print("vishal and shubhangi is equal now")

15
16
17
18
19
vishal and shubhangi is equal now

In [42]:
v ="my name is vishal"

In [43]:
v[0]

'm'

In [44]:
v[-1]

'l'

In [46]:
v[3:50]

'name is vishal'

In [47]:
v[3:10:2]

'nm s'

In [48]:
v[10:2:-1]

' si eman'

In [49]:
v[::1]

'my name is vishal'

In [68]:
v ="my name is vishal "

In [69]:
v[3:-1]

'name is vishal'

In [70]:
v[2::1]

' name is vishal '

In [71]:
v[:-1:1]

'my name is vishal'

In [11]:
v

NameError: name 'v' is not defined

In [73]:
v[17:0:-1]

' lahsiv si eman y'

In [74]:
type(v)

str

In [13]:
v="my name is vishal"

In [14]:
for i in v:
    if i == 's':
        print("there is s")
    print(i)

m
y

n
a
m
e

i
there is s
s

v
i
there is s
s
h
a
l

In [15]:
for i in v:
    if i=="m":
        continue
    elif i=="i":
        print("s")
    print(i)
else:
    if i==" ":
        print("i am vishal")
    print("this is else condition")

y

n
a
e

s
i
s

v
s
i
s
h
a
l
this is else condition

In [276]:
for i in v:
    if i == "v":
        continue
    print (i)
else:
    if i == '':
        print ("last char is v")
    print("this is else condition?")

m
y

n
a
m
e

i
s

i
s
h
a
l
this is else condition?

In [75]:
len(v)

17

In [87]:
s = "ineuron"
ss="k"
for i in range(len(s)):
    if s[i]=='n':
        continue
    else:
        ss= ss+ s[i]
print(ss)

kieuro

In [77]:
range(len(s))

range(0, 7)

In [7]:
k="ah1indra 605 di"
j="m"

for i in range(len(k)):
    if k[i]=='1':
        pass
    else:
        j=j+k[i]
print(j)

mahindra 605 di

In [93]:
v="vishal vitthal thorat"
s=" "
for i in range(len(v)):
    if v[i]=="v":
        pass
    else:
        s=s+v[i]
print(s)

 ishal itthal thorat

In [1]:
n=7
for i in range(0,n):
    for j in range(0, i+1):
        print(" +", end="")
    print()

 +
 + +
 + + +
 + + + +
 + + + + +
 + + + + + +
 + + + + + + +

In [129]:
n=7
for i in range(0,n):
    for j in range(n-i):
        print("  ",end="")
    for j in range(0,i+1):
        print(" +",end="")
    print()

               +
             + +
           + + +
         + + + +
       + + + + +
     + + + + + +
   + + + + + + +

In [139]:
n=7
for i in range(0,n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(n-i):
        print(" *",end="")
    print()

  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [147]:
v=7
for i in range(0,v):
    for j in range(v-i):
        print("",end=" ")
    
    for j in range(i+1):
        print("*",end=" ")
    print("")

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [153]:
n= int(input('Enter number of rows: '))

for i in  range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
        
    for j in range(i-1):
        print('* ',end='')
    print()

Enter number of rows: 7
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [353]:
n=10
i=0
while i < n:
    print(' '*(n-i-1)+ ' *'*(i+1))
    i=i+1

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [85]:
n=9
i=0
while i <n:
    print(" "*(i+1) + " *"*(n-i-1))
    
    i+=1

  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [92]:
n=9
i=0
while i <n:
    print(" "*(n-i-1) + " *"*(i+1))
    
    i+=1

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [131]:
n=int(input("No of rows: "))
i=0

while i<n:
    print(" "*(i+1)+ "# "*(n-i))
    i=i+1

No of rows: 7
 # # # # # # #
  # # # # # #
   # # # # #
    # # # #
     # # #
      # #
       #

In [365]:
n=7

for i in range(0,n,1):
    for j in range(n-i):
        print('',end=' ')
      
    for j in range(i+1):
        print('+ ',end='')
    print()

       +
      + +
     + + +
    + + + +
   + + + + +
  + + + + + +
 + + + + + + +

In [66]:
n = 7

for i in range(0,n,1):
    for j in range(n-i):
        print(" ",end=" ")
    
    for j in range(2*i+1):
        print("*", end=" ")
    print("\n")

              *

            * * *

          * * * * *

        * * * * * * *

      * * * * * * * * *

    * * * * * * * * * * *

  * * * * * * * * * * * * *

In [359]:
n=7
for i in range(n,0,-1):
    for j in range(n-i):
        print("  ", end=" ")
    for j in range(2*i-1):
        print("+ ", end=" ")
    print("\n")

+  +  +  +  +  +  +  +  +  +  +  +  +

   +  +  +  +  +  +  +  +  +  +  +

      +  +  +  +  +  +  +  +  +

         +  +  +  +  +  +  +

            +  +  +  +  +

               +  +  +

                  +

In [367]:
n= int(input('Enter number of rows: '))

for i in  range(0,n,1):
    for j in range(n-i):
        print(" ",end=" ")
        
    for j in range(2*i+1):
        print('*',end=' ')
    print()

Enter number of rows: 7
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

In [108]:
n = 10
m = 2*n-2
for i in range(n,-1,-1):
    for j in range(m,0,-1):
        print("",end=" ")
    m=m+1
    for j in range(0,i+1):
        print( "* ",end="")
    print("")

                  * * * * * * * * * * *
                   * * * * * * * * * *
                    * * * * * * * * *
                     * * * * * * * *
                      * * * * * * *
                       * * * * * *
                        * * * * *
                         * * * *
                          * * *
                           * *
                            *

In [16]:
l = ["vdgxjh",8798 ,"bdish","vishal", 9322 ,[9,9,2]]

In [17]:
len(l)

6

In [18]:
type(l)

list

In [19]:
for i in l:
    if type(i) ==list:
        n=0
        for j in i:
            if type(j) == int:
                n = n+j
        print(n)
        
        print(type(j))

20
<class 'int'>

In [99]:
l = ["vdgxjh",8798,"bdish","vishal",92,[9,9,2,"thorat","shubha"]]

In [100]:

l[0:80:1]

['vdgxjh', 8798, 'bdish', 'vishal', 92, [9, 9, 2, 'thorat', 'shubha']]

In [444]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
range(10)

range(0, 10)

In [17]:
len(l)

6

In [22]:
string="vishal"
for i in string:
    print(i,end="")

vishal

In [405]:
for i in range (5):
    print("*",end= "\n")

*
*
*
*
*

In [28]:
for i in range (10):
    print("*",end= " ")

* * * * * * * * * *

In [33]:
lst=[1,2,3,4]

In [37]:
for i  in lst:
    print(i)

1
2
3
4

In [106]:
n= int(input('Enter number of rows: '))

for i in  range(n,0,-1):
    for j in range(n-i):
        print(" ",end=" ")
        
    for j in range(2*i-1):
        print('*',end=' ')
    print()

Enter number of rows: 7
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [107]:
v="my name is vishal , this is my full stack data analyst class"

In [111]:
v[-1:-10:-1]

'ssalc tsy'

In [112]:
v

'my name is vishal , this is my full stack data analyst class'

In [117]:
for i in v:
    print(i, end="")

my name is vishal , this is my full stack data analyst class

In [119]:
l=["thorat",9898,7676,7676.878]

In [122]:
l[0]="vishal"

In [123]:
l

['vishal', 9898, 7676, 7676.878]

In [124]:
"vishal"+ 'thorat'

'vishalthorat'

In [126]:
"vishal "*5

'vishal vishal vishal vishal vishal '

In [3]:
v= "my name is vishal thorat , i am vishal from satara"

In [4]:
v

'my name is vishal thorat , i am vishal from satara'

In [5]:
v.find("name")

3

In [6]:
b=v.find("vishal")
for i in range(len("vishal")):
    continue
for i in range(len("vishal")):
        print(b+i,end=' ')

11 12 13 14 15 16

In [7]:
v

'my name is vishal thorat , i am vishal from satara'

In [490]:
s=v.find("is")
for i in range(len("is")):
    print(s+i,end=" ")

8 9

In [512]:
v.count("vishal")

2

In [481]:
v= 'my name is, my Name is Thorat'

In [184]:
v

'my name is, my Name is Thorat'

In [185]:
v.count("name")

1

In [186]:
v.split(",")

['my name is', ' my Name is Thorat']

In [187]:
v.upper()

'MY NAME IS, MY NAME IS THORAT'

In [188]:
v.lower()

'my name is, my name is thorat'

In [191]:
v.swapcase()

'MY NAME IS, MY nAME IS tHORAT'

In [525]:
" ".join(v)

'm y   n a m e   i s   v i s h a l   t h o r a t   ,   i   a m   v i s h a l   f r o m   s a t a r a'

In [526]:
v

'my name is vishal thorat , i am vishal from satara'

In [527]:
for i in reversed(v):
    print(i, end="")

aratas morf lahsiv ma i , taroht lahsiv si eman ym

In [528]:
v[::-1]

'aratas morf lahsiv ma i , taroht lahsiv si eman ym'

In [532]:
v="  vish   "

In [533]:
v

'  vish   '

In [534]:
v.strip()

'vish'

In [535]:
v.lstrip()

'vish   '

In [536]:
v.rstrip()

'  vish'

In [540]:
v="my name of the class is ineuron"

In [541]:
v=v.replace('name','vishal')

In [542]:
v

'my vishal of the class is ineuron'

In [543]:
v="vish"

In [544]:
v.center(15,"+")

'++++++vish+++++'

In [545]:
v="vishal\tthorat"

In [546]:
v.expandtabs()

'vishal  thorat'

In [547]:
a="we all are a part of Full Stack"

In [548]:
a

'we all are a part of Full Stack'

In [549]:
a.lower()

'we all are a part of full stack'

In [550]:
a.count("a")

5

In [552]:
for i in range(len(a)):
    if(a[i]=="r"):
        print(i,end=" ")

8 15

In [553]:
len(a)

31

In [554]:
a.replace('a','ineuron')

'we ineuronll ineuronre ineuron pineuronrt of Full Stineuronck'

In [555]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [558]:
a="we all are a part of Full Stack"
b=a.lower()
print(b)

c=a.count("a")
print("count of a is :",c)

for i in range(len(a)):
    if(a[i]=="a"):
        print(i)
        
d=a.replace('a','ineuron')
print(d)

a.split()

we all are a part of full stack
count of a is : 5
3
7
11
14
28
we ineuronll ineuronre ineuron pineuronrt of Full Stineuronck

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [562]:
v="vishal thorat"

In [563]:
v.islower()

True

In [564]:
v.isupper()

False

In [565]:
v.isdigit()

False

In [566]:
v.startswith('v')

True

In [568]:
v.endswith('t')

True

In [569]:
v.isalnum()

False

In [572]:
v.istitle()

False

In [573]:
len(v)

13

In [574]:
v="this is a full stack batch"

In [575]:
count = 0
for i in v:
    count=count+1
print(count)

26

In [578]:
for i in range(1,len(v)):
    print(v[-i],end=" ")

h c t a b   k c a t s   l l u f   a   s i   s i h

In [580]:
v="vishal"
ch= len(v)-1
while ch>=0:
    print(v[ch],end="")
    ch=ch-1

lahsiv

In [581]:
name = "ineruon"
vowels="AaEeIiOoUu"

for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
r is not a vowel
u is a vowel
o is a vowel
n is not a vowel

In [593]:
v="vishal"
replace="mynameis"

for i in v:
    if i in replace:
        print("{} is a replace".format(i))
    else:
        print("{} is not a replace".format(i))

v is not a replace
i is a replace
s is a replace
h is not a replace
a is a replace
l is not a replace

In [582]:
"{} name is vishal".format("my")

'my name is vishal'

In [587]:
a=input()
b=input()

my
is

In [588]:
"{} name {} vishal".format(a,b)

'my name is vishal'

In [26]:
v=input("enter a data for which would you like to check palindrom -->")
v1=v[::-1]
if v==v1:
    print("its a same")
else:
    print("its not a same")

enter a data for which would you like to check palindrom -->nitin
its a same

In [30]:
l=["vishal",889,"thorat","shubhangi",[98,87,3,"vids"]]

In [31]:
l[3]

'shubhangi'

In [32]:
v="vishal"

In [33]:
l+[v]

['vishal', 889, 'thorat', 'shubhangi', [98, 87, 3, 'vids'], 'vishal']

In [34]:
len(l)

5

In [35]:
889 in l

True

In [36]:
l1=["vishal",8728,"shiba",7767,[76,"thorat","shubhangi",6276],87]

In [37]:
8728 in l

False

In [38]:
l+ l1

['vishal',
 889,
 'thorat',
 'shubhangi',
 [98, 87, 3, 'vids'],
 'vishal',
 8728,
 'shiba',
 7767,
 [76, 'thorat', 'shubhangi', 6276],
 87]

In [39]:
max("vishal","thorat")

'vishal'

In [40]:
min(897,674,763.763)

674

In [41]:
max(846,873.8726,76)

873.8726

In [42]:
min(2,3,4,5,6,7,8)

2

In [43]:
min("A","B")

'A'

In [44]:
l=[1,2,3,4]

In [45]:
l.append("vishal")

In [46]:
l

[1, 2, 3, 4, 'vishal']

In [47]:
l+["thorat"]

[1, 2, 3, 4, 'vishal', 'thorat']

In [48]:
l=[1,2,3,4,5]

In [49]:
l.insert(1,'vishal')

In [50]:
l

[1, 'vishal', 2, 3, 4, 5]

In [51]:
l.insert(-1,'thorat')

In [52]:
l

[1, 'vishal', 2, 3, 4, 'thorat', 5]

In [664]:
l.count('vishal')

1

In [665]:
l=[1,2,3,4,5]

In [666]:
l.append('vishal')

In [667]:
l

[1, 2, 3, 4, 5, 'vishal']

In [668]:
l.extend("thorat")

In [669]:
l

[1, 2, 3, 4, 5, 'vishal', 't', 'h', 'o', 'r', 'a', 't']

In [671]:
v="thorat"
list(v)

['t', 'h', 'o', 'r', 'a', 't']

In [674]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [675]:
l.extend([5,6,7,8,9])

In [676]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [678]:
l.index(5)

4

In [679]:
l=[2,3,4,5,6,7,8,9]

In [681]:
l.pop(1)

3

In [712]:
l

[35, 9, 8, 7, 5, 4]

In [714]:
l.remove(35)

In [715]:
l.reverse()

In [716]:
l

[4, 5, 7, 8, 9]

In [717]:
l.sort()

In [718]:
l

[4, 5, 7, 8, 9]

In [35]:
l=[[2,3,6],[7,9,10],["vishal","thorat"],4,6,7,21]
#part=1
l.insert(1,["raj","arya","aditya"])
l.insert(2,["ineuron","krish","shudhanshu"])
l.insert(2,77+99j)
print(l)
#part=2
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                print(i.index(j))

[[2, 3, 6], ['raj', 'arya', 'aditya'], (77+99j), ['ineuron', 'krish', 'shudhanshu'], [7, 9, 10], ['vishal', 'thorat'], 4, 6, 7, 21]
0
1
2
0
1
2
0
1

In [36]:
l=[]
for i in range(5):
    l.append(int(input()))
print(l)

11
12
13
14
15
[11, 12, 13, 14, 15]

In [10]:
v=int(input("enter the row no : "))
for i in range(0,v):
    for j in range(v-i):
        print(" ",end=" ")
    for j in range(i+1):
        print(" * ",end=" ")
    print()

enter the row no : 7
               *
             *   *
           *   *   *
         *   *   *   *
       *   *   *   *   *
     *   *   *   *   *   *
   *   *   *   *   *   *   *

In [17]:
n=int(input("enter the row no: "))
m=0
while m<n:
    print(" "*(m+1) + "* "*(n-m))
    m=m+1

enter the row no: 7
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [23]:
n=int(input("No of rows: "))
i=0

while i<n:
    print(" "*(n-i) + "* "*(i+1))
    i=i+1

No of rows: 7
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [19]:
n=7
for i in range (0,n,1):
    for j in range(n-i):
        print("  ",end="")
    for j in range(i+1):
        print(" * ",end=" ")
    print()

               *
             *   *
           *   *   *
         *   *   *   *
       *   *   *   *   *
     *   *   *   *   *   *
   *   *   *   *   *   *   *

In [21]:
#input in list
l=[]
for i in range(5):
    l.append(int(input()))
print(l)

78
787
564
4547
566
[78, 787, 564, 4547, 566]

In [12]:
%%time
l=[[1,2,3],[11,12,'b','b','b'],[21,'t',223],[4,5,6],[7,8,9],"demo",12.5]

for i in l:
    if type(i) == list:
        j=0
        while j< len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j=j+1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("The string in the nested lost is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
print ("List after removal of string from nested list is\r",l,'\n')

Index of string b is : 2
Index of string b is : 3
Index of string b is : 4
The string in the nested lost is 'b'
The string in the nested lost is 'b'
The string in the nested lost is 'b'
Index of string t is : 1
The string in the nested lost is 't'
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

CPU times: total: 0 ns
Wall time: 1.27 ms

In [25]:
l=[[1,2,3],[11,12,'b','b','b'],[21,'t',223],[4,5,6],[7,8,9],"demo",12.5]

for i in l:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j])is str:
                print("Index of string {} is :".format(i[j]),j)
            j=j+1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("The string in the nested lost is: {} ".format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
print ("List after removal of string from nested list is\r",l,'\n')

Index of string b is : 2
Index of string b is : 3
Index of string b is : 4
The string in the nested lost is: b
The string in the nested lost is: b
The string in the nested lost is: b
Index of string t is : 1
The string in the nested lost is: t
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [10]:
len(l)

7

In [55]:
l1=[]

In [56]:
for i in "vish":
    l1.append(i)

In [57]:
l1

['v', 'i', 's', 'h']

In [59]:
[i for i in "vish"]

['v', 'i', 's', 'h']

In [61]:
l=[]
for i in range(11):
    if i%2==0:
        l.append(i)

In [62]:
l

[0, 2, 4, 6, 8, 10]

In [63]:
[i for i in range(11) if i%2==0]

[0, 2, 4, 6, 8, 10]

In [64]:
l=[]
for i in range(10):
    if i %2 !=0:
        l.append("odd")
    else:
        l.append("even")

In [65]:
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [67]:
["odd" if i%2!=0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [73]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat [i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [75]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [3]:
[i for i in range(8) if i%2==0 if i%3 ==0]

[0, 6]

In [5]:
l=[]
for i in range(8):
    if i%2==0:
        if i%3==0:
            l.append(i)

In [2]:
l

[0, 6]

In [6]:
l=[1,2,3,4,5]

In [7]:
l1=[]

In [8]:
for i in "vish":
    l1.append(i)

In [9]:
l1

['v', 'i', 's', 'h']

In [27]:
[i for i in "vish"] #list comprejunction operation

['v', 'i', 's', 'h']

In [17]:
[[k] for k in "thorat"]

[['t'], ['h'], ['o'], ['r'], ['a'], ['t']]

In [20]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)

In [21]:
l

[0, 2, 4, 6, 8]

In [29]:
[i for i in range(10) if i%2==0 ]

[0, 2, 4, 6, 8]

In [30]:
[i for i in range (10) if i%2==1]

[1, 3, 5, 7, 9]

In [31]:
[i for i in range(10) if i%2 !=0 ]

[1, 3, 5, 7, 9]

In [34]:
l=[]
for i in range (10):
    if i%2 !=0:
        l.append("odd")
    else:
        l.append("even")

In [35]:
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [38]:
["odd" if i%2!=0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [39]:
["even" if i%2==0 else "odd" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [40]:
mat =[]
for i in range (3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [42]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [51]:
[[v for v in range(5)]for k in range (4)]

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [58]:
[i for i in range (8)if i %2==0 if i%3==0]

[0, 6]

In [59]:
[i for i in range (8)if i %2==1 if i%3==1]

[1, 7]

In [37]:
l=[]
for i in range(8):
    if i%2==0:
        if i%3==0:
            l.append(i)  
l

[0, 6]

In [63]:
l

[0, 6]

In [74]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
["yes"if i==1 else "no" if i ==2 else "test" for i in l]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [76]:
vish=[]
for i in l:
    if i == 1:
        vish.append("yes")
    elif i == 2:
        vish.append("no")
    else:
        vish.append("test")

In [77]:
vish

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [82]:
lst=[1,3,5,6,3,2,35,5,6,76]

In [85]:
lst.sort()
lst

[1, 2, 3, 3, 5, 5, 6, 6, 35, 76]

In [86]:
lst=["vish","subh","shashi","a","b"]

In [89]:
lst.sort()
lst

['a', 'b', 'shashi', 'subh', 'vish']

In [97]:
lst.reverse()
lst

['a', 'b', 'shashi', 'subh', 'vish']

In [109]:
l=[1,2,3,4,5,6,7,8,9,10]

In [1]:
%%time
for i in range(0,10,3):
    i=i+5
    print(i)

5
8
11
14
CPU times: total: 0 ns
Wall time: 0 ns

In [112]:
len(range(0,10,3))

4

In [115]:
[i*3 for i in range(10)]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [120]:
list=["vuisgdh","hdsh",'thorat',"gfacSfd","zuhsdug"]

In [121]:
max(list)

'zuhsdug'

In [122]:
min(list)

'gfacSfd'

In [3]:
def vishal(n):
    a=1
    b=1
    for i in range(n):
        print(a)
        a=b
        b=a+b
vishal(10)

1
1
2
4
8
16
32
64
128
256

In [4]:
def vishal(n):
    a=1
    b=1
    for i in range(n):
        print(a)
        a,b=b,a+b
vishal(10)

1
1
2
3
5
8
13
21
34
55

In [12]:
x=["a","b","c","v","s"]
for i in x:
    print(i)
    x.remove(i)

a
c
s

In [14]:
x

['b', 'v']

In [15]:
enumerate([1,2,3,4,5,6])

In [16]:
for i in enumerate([1,2,3,4,5,6]):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [34]:
l=[[1,2,3],[11,12,'b','b','b'],[21,'t',223],[4,5,6],[7,8,9],"demo",12.5]

for i in l:
    if type(i)== list:
        j=0
        while j < len(i):
            if type(i[j])is str:
                print("The index Of {} is :".format(i[j]),j)
            j=j+1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("Index in the nested lost is:{} ".format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
print("The list after remove string in the nested",l,"\n")

The index Of b is : 2
The index Of b is : 3
The index Of b is : 4
Index in the nested lost is:b
Index in the nested lost is:b
Index in the nested lost is:b
The index Of t is : 1
Index in the nested lost is:t
The list after remove string in the nested [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [84]:
n=7
for i in range (0,n,1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [87]:
n=int(input("No. if rows: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end=" ")
    for j in range(i-1):
        print(" * ",end=" ")
    print()

No. if rows: 9
 *   *   *   *   *   *   *   *
   *   *   *   *   *   *   *
     *   *   *   *   *   *
       *   *   *   *   *
         *   *   *   *
           *   *   *
             *   *
               *

In [54]:
n=int(input("Enter no of rows: "))
for i in range(0,n,1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i):
        print("+ ",end="")
    print()

Enter no of rows: 9

        +
       + +
      + + +
     + + + +
    + + + + +
   + + + + + +
  + + + + + + +
 + + + + + + + +

In [74]:
n=int(input("Enter the no of rows: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i-1):
        print("+ ",end="")
    print()

Enter the no of rows: 9
+ + + + + + + +
 + + + + + + +
  + + + + + +
   + + + + +
    + + + +
     + + +
      + +
       +

In [82]:
l=[[1,2,3],[11,12,'b','b','b'],[21,'t',223],[4,5,6],[7,8,9],"demo",12.5]

for i in l:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("Index of the nested list {} is :".format(i[j]),j)
            j=j+1
        
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("The string removed from the nested list is:{}".format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
            
print("The list after remove str from the nested list :",l)

Index of the nested list b is : 2
Index of the nested list b is : 3
Index of the nested list b is : 4
The string removed from the nested list is:b
The string removed from the nested list is:b
The string removed from the nested list is:b
Index of the nested list t is : 1
The string removed from the nested list is:t
The list after remove str from the nested list : [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [116]:
n=9
i=0
while i <n:
    print(" "*(i+1) + " *"*(n-i-1))
    
    i=i+1

  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [122]:
n=9
i=0
while i<n:
    print(" "*(n-i) + "* "*(i-1))
    i=i+1

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [1]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [6]:
len(range(11,20,2))

5

In [7]:
for i in range(len([1,2,3,4])):
    print(i)

0
1
2
3

In [8]:
["even" if i%2==1 else "odd" for i in range(10)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [12]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append("even")
    else:
        lst.append("odd")

In [13]:
lst

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [20]:
[i*3 for i in range(10)]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [34]:
lsst=["aishal","AISHAL","Thorat","raj","aditya"]

In [35]:
max(lsst)

'raj'

In [33]:
min(lsst)

'AISHAL'

In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
t1=(77,23,54,65,"vishal",True)

In [5]:
l1=[876,655,78,"thorat",False]

In [6]:
t1[0:6]

(77, 23, 54, 65, 'vishal', True)

In [7]:
l1[0]="vishal"

In [8]:
l1

['vishal', 655, 78, 'thorat', False]

In [9]:
#tuple- immutuable collection
#list- mutuable collection

In [10]:
t2=(637,23,45,56,"bishal")

In [11]:
t1+t2

(77, 23, 54, 65, 'vishal', True, 637, 23, 45, 56, 'bishal')

In [12]:
t1

(77, 23, 54, 65, 'vishal', True)

In [13]:
77 in t1

True

In [14]:
"bjxhcv" in t1

False

In [15]:
t3=(32,45,65,76,34,56,34,356)

In [16]:
max(t3)

356

In [17]:
t1.index(77)

0

In [18]:
t3.count(34)

2

In [19]:
l1

['vishal', 655, 78, 'thorat', False]

In [20]:
l1.count("vishal")

1

In [21]:
t3

(32, 45, 65, 76, 34, 56, 34, 356)

In [23]:
min(t3)

32

In [88]:
t1

(77, 23, 54, 65, 'vishal', True, 6.34, False)

In [26]:
t1

(77, 23, 54, 65, 'vishal', True, 6.34, False)

In [27]:
t5=(786,652)

In [28]:
t1+t5

(77, 23, 54, 65, 'vishal', True, 6.34, False, 786, 652)

In [29]:
l5=list(t1)

In [30]:
l5

[77, 23, 54, 65, 'vishal', True, 6.34, False]

In [31]:
t6=87

In [33]:
l5.insert(3,t6)

In [41]:
l5

[77, 23, 54, 87, 65, 'vishal', True, 6.34, False]

In [42]:
v=tuple(l5)
v

(77, 23, 54, 87, 65, 'vishal', True, 6.34, False)

In [71]:
s=(("vishal",7634,7436,9845,8975.43),("thorat",736,7834,234),787,898,65,[1,2,"vish",34,5,6,7])

In [72]:
s[5][3]

34

In [73]:
for i in s:
    if type(i)==tuple:
        print(i[0])

vishal
thorat

In [74]:
t2

(637, 23, 45, 56, 'bishal')

In [76]:
if len(t1)==len(t2):
    print("its same")
else:
    print("not same")

not same

In [39]:
t=(77, 23, 54, 65, 'vishal',8743.3,True,"thorat","shubha")

In [41]:
i= input("take a user input ")

if i in t:
    print("your name is available")
else:
    print("your name is not available")

take a user input shubha
your name is available

In [96]:
del(t)
#for delete operation

In [103]:
l1

['vishal', 655, 78, 'thorat', False]

In [98]:
t2

(637, 23, 45, 56, 'bishal')

In [99]:
x=set()

In [100]:
type(x)

set

In [120]:
l=[34,45,45,45,67,34,56,73847588,3478567634,76324562,78,"vish","vish","Vish","thorat"]

In [121]:
set(l)

{34, 3478567634, 45, 56, 67, 73847588, 76324562, 78, 'Vish', 'thorat', 'vish'}

In [110]:
s=set(l)

In [111]:
s

{34, 45, 56, 67, 78, 'Vish', 'thorat', 'vish'}

In [113]:
for i in s:
    print(i)

34
67
Vish
45
78
thorat
vish
56

In [114]:
34 in s

True

In [122]:
s=set()

In [123]:
s.add("vish")

In [124]:
s

{'vish'}

In [132]:
s.add(98)

In [133]:
s

{334, 98, 'vish'}

In [140]:
s.remove(334)

In [141]:
s.add(334)

In [142]:
s

{334, 98, 'vish'}

In [143]:
s.clear()

In [144]:
s

set()

In [146]:
s.add("vihsk")

In [147]:
s.add(672)

In [148]:
s.add("thorat")

In [150]:
s.add(87)

In [151]:
s

{672, 87, 'thorat', 'vihsk'}

In [154]:
s1=set(l)

In [153]:
l=[32,43,657,678,785]

In [155]:
s1

{32, 43, 657, 678, 785}

In [159]:
l4=list(s)

In [162]:
l4.append(67352)

In [163]:
l4

[672, 'thorat', 'vihsk', 87, 67352, 67352]

In [165]:
t4=tuple(s)

In [166]:
set(t4)

{672, 87, 'thorat', 'vihsk'}

# tuple

In [2]:
l1=["vish",23,34,65]

In [3]:
l1[0]="vishal"

In [5]:
l1
#list is mutable elemet and tuple is immutable element(we cannot replace)

['vishal', 23, 34, 65]

In [24]:
t1=("vishal","thorat",76,34,34,34,34,98,54,True)

In [25]:
type(t1)

tuple

In [26]:
t2=(234,456,576)

In [27]:
t1+t2

('vishal', 'thorat', 76, 34, 34, 34, 34, 98, 54, True, 234, 456, 576)

In [28]:
76 in t1

True

In [29]:
787 in t1

False

In [30]:
t3=(3,34,45,2,435,34,23)

In [31]:
max(t3)

435

In [32]:
t1.index(76)

2

In [33]:
t1

('vishal', 'thorat', 76, 34, 34, 34, 34, 98, 54, True)

In [34]:
t1.count(34)

4

In [35]:
l5=list(t1)

In [36]:
l5

['vishal', 'thorat', 76, 34, 34, 34, 34, 98, 54, True]

In [37]:
t6=56

In [39]:
l5.insert(3,t6)
l5

['vishal', 'thorat', 76, 56, 56, 34, 34, 34, 34, 98, 54, True]

In [40]:
tuple(l5)

('vishal', 'thorat', 76, 56, 56, 34, 34, 34, 34, 98, 54, True)

In [41]:
t=((3,4,5,6,7,6),("vish","thor","shaus",4,34,5,67),45,5,3,34,[3,4,5,6,7])

In [44]:
t[7][2]

5

In [45]:
t[1][2]

'shaus'

In [46]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
vish

In [49]:
t2

(234, 456, 576)

In [50]:
t1

('vishal', 'thorat', 76, 34, 34, 34, 34, 98, 54, True)

In [51]:
if len(t1) == len(t2):
    print("its same")
else:
    print("not same")

not same

In [52]:
t1

('vishal', 'thorat', 76, 34, 34, 34, 34, 98, 54, True)

In [55]:
i = input('take a  user input: ')

if i in t1:
    print("yes your is available")
else:
    print("your name is not available")

take a  user input: vishal
yes your is available

# set

In [60]:
x=set()

In [61]:
type(x)

set

In [71]:
l=[1,2,3,2345344,5,5,5,5,5,5,"vish","vish","thorat","Vish"]

In [72]:
s=set(l)

In [73]:
s

{1, 2, 2345344, 3, 5, 'Vish', 'thorat', 'vish'}

In [74]:
for i in s:
    print(i)

2345344
1
2
3
5
thorat
Vish
vish

In [76]:
s=set()
s

set()

In [77]:
s.add(765)

In [78]:
s.add(984)

In [79]:
s.add("visg")

In [80]:
s.add(7)

In [81]:
s.add(7)

In [82]:
s

{7, 765, 984, 'visg'}

In [84]:
s.add(9)

In [85]:
s

{7, 765, 9, 984, 'visg'}

In [86]:
s.remove(9)

In [87]:
s

{7, 765, 984, 'visg'}

In [88]:
67 in s

False

In [89]:
s.clear()

In [153]:
s=set()

In [154]:
s.add(45)
s.add(99)
s.add(4)
s.add(46)
s.add("vishal")
s.add("thorat")

In [165]:
s

{4, 45, 46, 99, 'thorat', 'vishal'}

In [166]:
l=[34,34,534,53,45,4,5,34,343,43]

In [167]:
s1=set(l)

In [168]:
s1

{4, 5, 34, 43, 45, 53, 343, 534}

In [169]:
l4=list(s)

TypeError: 'tuple' object is not callable

In [164]:
l4

NameError: name 'l4' is not defined

In [161]:
l4.append(67)

NameError: name 'l4' is not defined

In [109]:
l4

[99, 4, 45, 46, 'thorat', 'vishal', 67, 67]

In [111]:
s7=set(l4)

In [149]:
s7

NameError: name 's7' is not defined

# Conversion is posible in any type

In [115]:
t7=tuple(s7)
t7

(99, 4, 67, 45, 'thorat', 46, 'vishal')

In [147]:
t7= (99, 4, 67, 45, 'thorat', 46, 'vishal')
t7

(99, 4, 67, 45, 'thorat', 46, 'vishal')

In [148]:
l7=list(t7)
l7

TypeError: 'tuple' object is not callable

In [117]:
s7=set(l7)
s7

{4, 45, 46, 67, 99, 'thorat', 'vishal'}

# dictionary

In [118]:
x={}

In [119]:
type(x)

dict

In [120]:
x1={1,2}

In [122]:
type(x1)

set

In [123]:
x={"name":"vishal", "age":23}

In [126]:
type(x)

dict

In [42]:
x1={"name":{"visha":"thorat","thorat":[77,2,323,23]},"age":23,"key":(76,43,4,33,43,4,8),False:[87,43,43,4,"Thorat"],"namet":"vishal",763:23564,9.76:"thor",(8,45):"kshal"}

In [43]:
type(x1)

dict

In [166]:
x1

{'name': {'visha': 'thorat', 'thorat': [77, 2, 323, 23]},
 'age': 23,
 'key': (76, 43, 4, 33, 43, 4, 8),
 False: [87, 43, 43, 4, 'Thorat'],
 'namet': 'vishal',
 763: 23564,
 9.76: 'thor',
 (8, 45): 'kshal'}

In [167]:
x1[False][1]

43

In [168]:
x1["key"]

(76, 43, 4, 33, 43, 4, 8)

In [172]:
x1["name"]["thorat"][0]

77

In [174]:
x3={"vishal":"thorat","k4":[2,3,4,5]}

In [180]:
x3["k4"]=125

In [181]:
x3

{'vishal': 'thorat', 'k4': 125}

In [183]:
x3["k4"]-=10

In [184]:
x3

{'vishal': 'thorat', 'k4': 115}

In [190]:
x3.keys()

dict_keys(['vishal', 'k4'])

In [192]:
for i in x3.keys():
    print(x3[i])

thorat
115

In [193]:
x1

{'name': {'visha': 'thorat', 'thorat': [77, 2, 323, 23]},
 'age': 23,
 'key': (76, 43, 4, 33, 43, 4, 8),
 False: [87, 43, 43, 4, 'Thorat'],
 'namet': 'vishal',
 763: 23564,
 9.76: 'thor',
 (8, 45): 'kshal'}

In [203]:
x1.keys()

dict_keys(['name', 'age', 'key', False, 'namet', 763, 9.76, (8, 45)])

In [204]:
for i in x1.keys():
    print(x1[i])

{'visha': 'thorat', 'thorat': [77, 2, 323, 23]}
23
(76, 43, 4, 33, 43, 4, 8)
[87, 43, 43, 4, 'Thorat']
vishal
23564
thor
kshal

In [205]:
for i in x1:
    print(i)

name
age
key
False
namet
763
9.76
(8, 45)

In [200]:
for i in x1.keys():
    print(type(x1[i]))

<class 'dict'>
<class 'int'>
<class 'tuple'>
<class 'list'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>

In [201]:
x1.items()

dict_items([('name', {'visha': 'thorat', 'thorat': [77, 2, 323, 23]}), ('age', 23), ('key', (76, 43, 4, 33, 43, 4, 8)), (False, [87, 43, 43, 4, 'Thorat']), ('namet', 'vishal'), (763, 23564), (9.76, 'thor'), ((8, 45), 'kshal')])

In [206]:
for i in x1.items():
    print(i[0])

name
age
key
False
namet
763
9.76
(8, 45)

In [207]:
x5={(3,4,5,6):"fdgddg"}

In [208]:
x5[(3,4,5,6)]

'fdgddg'

In [210]:
len(x1)

8

In [226]:
v=input("Paste your para here: ")

#Q1
l=v.split(" ")

#Q2
s=set(l)
    
#Q3
d={}
for i in s:
    d[i]="vishal"
    
#Q4
t_list=[]
for i in d.keys():
    t_list.append(d[i])

print("Tuple List--> ",tuple(t_list))

#Q5
list_keys=[]
for i in d.keys():
    list_keys.append(i)

print("list_keys-->",list_keys)

Paste your para here: Mumbai is the capital of Maharashtra as well as the financial capital of the entire country. Nagpur is known as the auxiliary capital of the state. Also known as the wealthiest state, Maharashtra contributes around 15% of the industrial output of the country and around 14% of its gross domestic product. The state has a varied landscape and is bounded by the Western Ghats. It boasts of several wildlife sanctuaries and national parks, and also patronizes project Tiger, which is an attempt to preserve the endangered species like the Bengal tiger, to conserve the bio-heritage of the country. Maharashtra has a tropical monsoon climate and the annual rainfall is between 400 mm to 6000 mm annually, with the Konkan area receiving the maximum rainfall in the state. The average temperature varies in between 25 to 27 degree Celsius in a year. With six administrative districts and five main regions, Maharashtra has 19 Rajya Sabha or Upper House seats and 48 Lok Sabha or Lower House seats.
Tuple List-->  ('vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal', 'vishal')
list_keys--> ['between', 'temperature', 'seats', 'six', '400', 'has', 'degree', 'districts', 'area', 'capital', 'an', 'national', 'receiving', 'sanctuaries', 'main', 'House', 'its', 'parks,', 'known', 'bio-heritage', 'Celsius', 'With', 'contributes', 'Nagpur', 'administrative', 'Upper', 'or', '6000', 'product.', 'endangered', 'Lower', 'varies', 'of', 'rainfall', 'Konkan', '25', 'attempt', 'bounded', 'Ghats.', 'climate', 'year.', '14%', 'boasts', '48', 'tropical', 'entire', 'It', 'annual', 'also', 'patronizes', 'Western', 'project', 'state,', 'varied', 'monsoon', 'financial', 'is', 'auxiliary', 'output', 'wealthiest', 'Maharashtra', 'Rajya', 'annually,', 'Also', 'as', 'species', 'regions,', 'seats.', 'industrial', 'five', 'Mumbai', 'like', 'state', 'mm', 'Lok', 'state.', 'average', 'with', '19', 'Sabha', 'conserve', 'country', 'the', 'Bengal', '27', 'domestic', 'gross', 'well', 'in', 'by', 'a', 'around', 'landscape', 'and', '15%', 'country.', 'tiger,', 'Tiger,', 'several', 'wildlife', 'preserve', 'maximum', 'The', 'which', 'to']

In [231]:
paragph=input("Enter the para: ")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'vish')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the para: Mumbai is the capital of Maharashtra as well as the financial capital of the entire country. Nagpur is known as the auxiliary capital of the state. Also known as the wealthiest state, Maharashtra contributes around 15% of the industrial output of the country and around 14% of its gross domestic product. The state has a varied landscape and is bounded by the Western Ghats. It boasts of several wildlife sanctuaries and national parks, and also patronizes project Tiger, which is an attempt to preserve the endangered species like the Bengal tiger, to conserve the bio-heritage of the country. Maharashtra has a tropical monsoon climate and the annual rainfall is between 400 mm to 6000 mm annually, with the Konkan area receiving the maximum rainfall in the state. The average temperature varies in between 25 to 27 degree Celsius in a year. With six administrative districts and five main regions, Maharashtra has 19 Rajya Sabha or Upper House seats and 48 Lok Sabha or Lower House seats.

In [237]:
d={"company":"Tcs", "course":"full stack data", "year":2022}

In [234]:
for i in d:
    print("print a key: ",i,"; ","print a value: ",d[i])

print a key:  company ;  print a value:  Tcs
print a key:  course ;  print a value:  full stack data
print a key:  year ;  print a value:  2022

In [235]:
for i in d:
    if i =='year':
        if d[i]>2022:
            print("year is fine")
        else:
            d[i]=2023

In [236]:
d

{'company': 'Tcs', 'course': 'full stack data', 'year': 2023}

In [238]:
my_dict={}
for i in range(10):
    my_dict[i]=i*i

In [239]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [243]:
{i:i*i for i in range(1,10,2)}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Function

In [1]:
a=1
b=2
a+b

3

In [9]:
def test(x,y):
    
    print(x+y)

In [17]:
test(12,23)

35

In [18]:
type(test(1,4))

5

NoneType

In [23]:
b=test(12,2)

14

In [25]:
type(b)

NoneType

In [11]:
def test1(a,b):
    return a * b

In [15]:
test1(11,11)+4

125

In [19]:
type(test1(9,2))

int

In [21]:
a=test1(7,6)
a

42

In [27]:
type(a)

int

In [28]:
def test2(t,n,m):
    return t+m

In [29]:
test2(12,23,3)

15

In [30]:
def test3(n,m):
    return n*10,m*20,m+n

In [34]:
test3(2,3)

(20, 60, 5)

In [35]:
v,w,x=test3(2,3)

In [40]:
v,w,x

(20, 60, 5)

In [45]:
v+10

30

In [44]:
w,x

(60, 5)

In [51]:
c,x,_=test3(4,5)

In [47]:
c

40

In [48]:
x

100

In [49]:
_

9

In [52]:
# '_' underscore is placeholder does not take any value

In [53]:
def test7():
    return("this is my first class")

In [56]:
m=test7()

In [58]:
m+" vishal's"

"this is my first class vishal's"

In [61]:
def test8(n):
    return n*2

In [62]:
test8([2,3,4,5,6])

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

In [63]:
test8(9)

18

In [66]:
def test9(n):
    return n,n*2

In [70]:
b=test9([1,2,3])

In [71]:
b

([1, 2, 3], [1, 2, 3, 1, 2, 3])

In [72]:
b[0]

[1, 2, 3]

In [73]:
b[1]

[1, 2, 3, 1, 2, 3]

In [78]:
def test10(n,m=10):
    return n+m

In [83]:
test10(30)

40

In [85]:
test10(12,23) #overright the value of m

35

In [86]:
def boolx(x=True, y=False):
    return x+y

In [87]:
boolx()

1

In [96]:
boolx(False) #false taking 1st place

0

In [97]:
boolx(False,True)

1

In [98]:
def travel(bike=True, car=False):
    plan_travel = bike or car
    return bike , car ,plan_travel

In [99]:
travel()

(True, False, True)

In [101]:
travel(False)

(False, False, False)

In [103]:
travel(car=True)

(True, True, True)

In [110]:
def test11(*args):
    return args

#args is multiple data over the pass

In [111]:
test11("vishal", "thorat",23,23,[1,3,445,4,12])

('vishal', 'thorat', 23, 23, [1, 3, 445, 4, 12])

In [180]:
def test12(*args):
    l=[]
    for i in args:
        l.extend(i)
    return l

In [181]:
test12([1,2,3,45],["thoart",23,354,56],[23,45,56,77,8],[12,"vush"])

[1, 2, 3, 45, 'thoart', 23, 354, 56, 23, 45, 56, 77, 8, 12, 'vush']

In [182]:
def test13(a,b,c):
    return a+b+c

In [174]:
test13([1,22,3,4],[3,456,4,5,5],[24,45,545,54])

[1, 22, 3, 4, 3, 456, 4, 5, 5, 24, 45, 545, 54]

In [215]:
def test14(*args):
    l = []
    for i in args:
        l=l+i
    return l

In [216]:
test14([1,22,3,4],[3,456,4,5,5],[24,45,545,54])

[1, 22, 3, 4, 3, 456, 4, 5, 5, 24, 45, 545, 54]

In [217]:
test14([1,2,3,45],[23,354,56],[23,45,56,77,8],[12,23])

[1, 2, 3, 45, 23, 354, 56, 23, 45, 56, 77, 8, 12, 23]

In [3]:
def test15(*args):
    l=[]
    for i in args:
        if type(i) == list:
            l = l+i
    return l

In [4]:
test15("fsds" , [1,2,3,4,5] , [5,6,7,8])

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [1]:
def test15(*args):
    l=[]
    for i in args:
        if type(i) == list:
            
            l = l+i
    return l

In [2]:
test15("fsds" , [1,2,3,4,5] , [5,6,7,8])

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [5]:
def test16(**kwargs):
    return kwargs

In [8]:
test16(a=12,b=23,c=87)

{'a': 12, 'b': 23, 'c': 87}

In [11]:
test16(a=[1,222,3,4,545],v=23,c=87)

{'a': [1, 222, 3, 4, 545], 'v': 23, 'c': 87}

In [12]:
#args returns tuples
#kwargs returns dict

In [27]:
def vishal(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    
    for i in args:
        if type(i)==str:
            a.append(i)
        if type(i)==int:
            b.append(i)
        if type(i)==float:
            c.append(i)
        if type(i)==list:
            d.append(i)
        if type(i)==bool:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==tuple:
            g.append(i)
            
    return a,b,c,d,e,f,g

In [28]:
vishal(1,2,3,4,5,[1,2,3,4],"vishal","thorat",True,False,23.34,{1,2,3,4},(2,3,4))

(['vishal', 'thorat'],
 [1, 2, 3, 4, 5],
 [23.34],
 [[1, 2, 3, 4]],
 [True, False],
 [],
 [(2, 3, 4)])

In [19]:
def fun2(*args,**kwargs):
    l=[i for i in args if type(i)==list]
    d=[i[1] for i in kwargs.items() if type(i[1])==list]
    return l,d

In [20]:
fun2([2,3,4,5,6,7],[2,3,4,5,6,7,8],4,5,6,7,8,9, a=33,b=34,c=[2,3,44,56])

([[2, 3, 4, 5, 6, 7], [2, 3, 4, 5, 6, 7, 8]], [[2, 3, 44, 56]])

In [24]:
def test18(**kwargs):
    for i in kwargs.items():
        if type (i[1])==list:
            if "vish" in i[1]:
                print("i am able to find your name")
                print(i[1])
    return kwargs

In [25]:
test18(a=12,b=[2,3,4,5],c="vishal",e=['vish','thorat'])

i am able to find your name
['vish', 'thorat']

{'a': 12, 'b': [2, 3, 4, 5], 'c': 'vishal', 'e': ['vish', 'thorat']}

In [27]:
d={'a': 12, 'b': [2, 3, 4, 5], 'c': 'vishal', 'e': ['vish', 'thorat']}

In [28]:
d.values()

dict_values([12, [2, 3, 4, 5], 'vishal', ['vish', 'thorat']])

In [34]:
def fun3(*args):
    dt = {}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] =[i]
    return dt

fun3(1,2,3,[4,5,6],(23,34,45,56),"hi","io",True,6+9j,False)

{int: [1, 2, 3],
 list: [[4, 5, 6]],
 tuple: [(23, 34, 45, 56)],
 str: ['hi', 'io'],
 bool: [True, False],
 complex: [(6+9j)]}